{namespace sv.bControlName.Template}

/**
 * @constructor
 * @extends cl.iControl.Template
 */
{template .controlName}
    {call .init data="all"/}
{/template}

/**
 * @override
 */
{template .body}
{/template}

/**
 * @override
 */
{template .rootClass}
    b-control-name
{/template}
